@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Parisienne&display=swap');

@font-face {
.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/parisienne/v14/va9E4kzI2nYpQyLhWj8.ttf') format('truetype');
}

.lexend-exa-regular {
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
}