@import 'fonts';
@import 'variables';

.background {
    -fx-background-color: $background-color;
}

// fill because the upper label is a plain text to allow the font change in Tasky

.welcomeLabel {
    -fx-padding: 0 0 0 150; 
    -fx-alignment: CENTER; 
}
// fill because the upper label is a plain text to allow the font change in Tasky
.titleLabel {
    -fx-fill: $title-color;
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-label-padding: 0 50 0 0;
}

.dialogTitleLabel {
    -fx-text-fill: $title-color;
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-label-padding: 0 50 0 0;
}

.taskyLabel {
    -fx-fill: $title-color;
    -fx-font-family: "Parisienne";
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}
                                            

.loginLabel {
    -fx-text-fill: $title-color;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-padding: 0 30 0 0;                                                                                                                                                                                                                                                      
    -fx-font-weight: bold;
}

.textFields{
    -fx-background-color: $text-fields-color;
    -fx-prompt-text-fill: $textFields-text-color;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: $text-fields-border-color;
    -fx-background-radius: 0;
}

.infoLabel {
    -fx-text-fill: $textFields-text-color;
    -fx-font-family: "Arial";
    -fx-font-size: 10px;                                                                                                                                                                                                                                                   
}
// outer layer of the text area, to make the background color of the text area the same as the text fields
.text-area {
    -fx-background-color: transparent !important;
    -fx-background-insets: 0 !important;
    -fx-background-radius: 0 !important;
    -fx-padding: 0 !important;
    -fx-border-width: 0 !important;
    -fx-prompt-text-fill: $textFields-text-color !important;
}
//inner layer of the text area, to make the background color of the text area the same as the text fields and to add a border only at the bottom
// the !important is used to override the default styles of the text area, which are applied to the .content class
.text-area .content {
    -fx-background-color: $background-color !important;
    -fx-background-radius: 0 !important;
    -fx-background-insets: 0 !important;
    -fx-border-width: 0 0 1 0 !important; 
    -fx-border-color: $text-fields-border-color !important;
    
}


.text-area:focus .content {
    -fx-border-color: $textFields-text-color;
    -fx-border-width: 0 0 2 0;
}

.textFields:focus {
    -fx-border-color: $textFields-text-color;
    -fx-border-width: 0 0 2 0;
}

.textArea:focus {
    -fx-border-color: $textFields-text-color;
    -fx-border-width: 0 0 2 0;
}
.buttons {
    -fx-background-color: $button-color;
    -fx-text-fill: $text-color;
}

.buttons:hover {
    -fx-background-color: $button-hover-color;
}
// styling checkbox
.checkbox {
    -fx-mark-color: $checkbox-color;
    -fx-text-fill: $button-color;
// styling the box of the checkbox
    .box {
        -fx-border-color: $checkbox-color !important;
        -fx-background-color: transparent !important;
    }
}
// category styles
.category {
    -fx-background-color: $background-color !important;
    -fx-border-width: 0 0 1 0 !important;
    -fx-border-color: $text-fields-border-color !important;
    -fx-background-radius: 0 !important;

    // when the combo box is closed, the selected item is shown in a label, which is a list cell, so we need to style it to make it look like the rest of the combo box
    .list-cell {
        -fx-background-color: transparent !important;
        -fx-text-fill: $textFields-text-color !important;
    }

    // list items when the combobox is open
    .list-view .list-cell {
        -fx-background-color: $background-color !important;
        -fx-text-fill: $textFields-text-color !important;

        &:hover {
            -fx-background-color: $button-color !important;
            -fx-text-fill: $text-color !important;
        }
    }
// arrow button
    .arrow-button {
        -fx-background-color: transparent !important;
    }

    .arrow {
        -fx-background-color: $textFields-text-color !important;
    }
}


// styling the date picker

// styling the table








