@import "variables.scss";
@import "fonts.scss";


body {
    background-color: $background-color !important;
    margin: 0; 
    font-family: Arial, sans-serif;
}

.navigation-bar {
    background-color: $button-color !important;
    border-bottom: 1px solid $text-fields-border-color !important;
    border-radius: 0 !important; 
    display: flex;
    padding: 10px 20px;
    gap: 15px;

       .navlink {
        background-color: transparent !important;
        color: $text-color !important; 
        font-weight: bold !important;
        text-decoration: none; 
        padding: 5px 10px;
        display: inline-block;

        &:hover {
            background-color: $button-hover-color !important;
            border-radius: 4px;
        }
    }
}