$background-color: #a9cfe3;
$primary-color: #4aafe2;
$secondary-color: #143b89;
$text-color: #efefef;
$title-color: #145c89;
$button-color: #19215c;
$button-hover-color: #616c97;
$text-fields-color: #a9cfe3;
$text-fields-border-color: #5e6d89;
$textFields-text-color: #21769b;
$checkbox-color: #19215c;