@import "variables.scss";
@import "fonts.css";

body {
    background-color: $background-color !important;
    font-family: Arial, sans-serif;
}

.navigation-bar {
    background-color: $button-color !important;
    display: flex;
    align-items: center;
    align-content: center;
    height: 40px;

    .navlink {
        color: $text-color !important;
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
        gap: 15px;

        &:hover {
            background-color: $button-hover-color !important;
        }
    }
}




.content {
    padding: 20px;
}

h1 {
    color: $button-color !important;
    margin-bottom: 20px;
    text-align: center !important;

    p {
        color: $title-color !important;
        margin-bottom: 20px;
        font-weight: normal !important;
    }
}

.inner-link {
    color: $button-color !important;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: $button-hover-color !important;
    }
}

.taskyName {
    color: $button-color !important;
    font-size: 36px;
    font-family: "Parisienne", sans-serif;
}

.inner-link {
    color: $button-color !important;
    text-decoration: none;

    &:hover {
        color: $button-hover-color !important;
       }
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-bottom: 20px;
    
    img {
        max-width: 300px;
        height: auto;
    }
}