@import "variables.scss";
@import "fonts.css";

body {
    background-color: $background-color !important;
    font-family: Arial, sans-serif;
}

.navigation-bar {
    background-color: $button-color !important;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 15px;
    height: 40px;

    .navlink {
        color: $text-color !important;
        text-decoration: none;
        font-weight: bold;
        height: 100%;
        gap: 15px;

        &:hover {
            background-color: $button-hover-color !important;
            padding: 10px;
        }
    }
}




.content {
    padding: 20px;
}

h1 {
    color: $button-color !important;
    margin-bottom: 20px;
    text-align: center !important;
}

.taskyName {
    color: $button-color !important;
    font-size: 36px;
    font-family: "Parisienne", sans-serif;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-bottom: 20px;
    
    img {
        max-width: 300px;
        height: auto;
    }
}